* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #F8F8FF;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.inner {
  width: 60%;
}

.inner-large {
  width: 85%;
}

.justify-wrapper {
  text-align: justify;
}

.blog-preview-container {
  width: 100%;
  height: 400px;
  padding: 1rem;
  background: #fff;
  -webkit-box-shadow: 2px 2px 15px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 15px -7px rgba(0, 0, 0, 0.75);
}

.blog-preview-container .blog-title-container {
  height: 20%;
}

.spacer-vertical-1rem,
.spacer-vertical-2rem,
.spacer-vertical-3rem,
.spacer-vertical-4rem {
  text-decoration: none;
  color: #000;
}

.spacer-vertical-1rem {
  margin: 1rem 0;
}

.spacer-vertical-2rem {
  margin: 2rem 0;
}

.spacer-vertical-3rem {
  margin: 3rem 0;
}

.spacer-vertical-4rem {
  margin: 4rem 0;
}

.col-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
}

.img-wrapper-large {
  width: 100%;
  height: 130px;
  overflow: hidden;
}

.img {
  -webkit-transition: 200ms linear;
  transition: 200ms linear;
}

.img-large {
  width: 100%;
  -o-object-fit: none;
     object-fit: none;
  -o-object-position: 100% 200%;
     object-position: 100% 200%;
}

.img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.h2 {
  font-size: 1.2rem;
  font-weight: 700;
}

.h3 {
  font-size: 1.1rem;
  font-weight: 600;
}

.p {
  margin-top: 1rem;
  font-size: 0.8rem;
  line-height: 1.5rem;
  color: grey;
}

.link {
  text-decoration: none;
  color: #02122C;
}

.gsc-control-cse {
  padding: 0 !important;
  margin-bottom: 1rem;
}

.gsc-search-button {
  background: #02122C !important;
  border-color: #02122C !important;
}

.phone-menu {
  display: none;
}

header {
  width: 100%;
  height: 80vh;
  background: url(../../assets/Blog-page/header.jpg) no-repeat bottom;
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .phone-nav {
  display: none;
}

header .site-nav {
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
}

header .site-nav-solid {
  background: #000;
  -webkit-animation: 1000ms opacityIn linear forwards;
          animation: 1000ms opacityIn linear forwards;
}

header .site-nav-inner {
  width: 85vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 0;
}

header .site-nav-inner .logo {
  height: 4rem;
}

header .site-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .site-li {
  list-style-type: none;
  margin-left: 3rem;
}

header .site-a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

header .header-h1 {
  font-size: 2.4rem;
  color: #fff;
  text-shadow: 0px 0px 35px #000000;
}

header .header-p {
  color: #fff;
  text-shadow: 0px 0px 25px #000000;
}

.section-1 {
  margin: 5rem 0;
}

.section-1 .section-1-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0;
  color: #6d6d6d;
}

.section-1 .section-1-li {
  font-size: 0.8rem;
  list-style-type: none;
}

.section-1 span {
  margin: 0 0.5rem;
}

.section-1 .blog-list-ul {
  list-style-position: inside;
}

.section-1 .blog-list-li {
  margin-bottom: 1.5rem;
}

.section-1 .blog-list-li .link {
  color: grey;
}

.footer {
  background: #f1f2f8;
  height: 30vh;
}

.footer .footer-inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding: 1rem 0;
}

.footer .footer-inner .footer-col-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer .footer-inner .footer-col-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-link {
  color: #02122C;
  text-decoration: none;
  font-size: 0.9rem;
}

.footer .footer-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0.5rem 0;
}

.footer .footer-ul .footer-li {
  list-style-type: none;
  margin-top: 1rem;
}

.footer .footer-align-container {
  width: 70%;
  margin: 1rem 0;
}

.footer .footer-align-container .footer-h4 {
  text-align: justify;
  color: #cdced3;
}

.footer .link-h5 {
  text-decoration: none;
  color: #0770E7;
}

.footer .social-media-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0;
}

.footer .social-media-li {
  list-style-type: none;
  margin: 0 0.5rem;
}

.footer .social-media-icon {
  width: 1.4rem;
}

@media only screen and (max-width: 1366px) {
  .img-large {
    width: 100%;
    -o-object-fit: none;
       object-fit: none;
    -o-object-position: 100% 100%;
       object-position: 100% 100%;
  }
}

@media only screen and (max-width: 1280px) {
  .inner {
    width: 70%;
  }
  .col-2-right-widget {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 18rem;
        grid-template-columns: 1fr 18rem;
  }
}

@media only screen and (max-width: 900px) {
  .inner {
    width: 90%;
  }
  .inner-large {
    width: 100%;
  }
  .col-2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .blog-preview-container {
    width: 100%;
    height: 100%;
    padding: 1rem;
    background: #fff;
    -webkit-box-shadow: 2px 2px 15px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 15px -7px rgba(0, 0, 0, 0.75);
  }
  .blog-preview-container .blog-title-container {
    height: 20%;
  }
  .phone-menu {
    width: 100%;
    height: calc(100vh - 4rem);
    position: fixed;
    top: 4rem;
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background: #02122C;
    z-index: 99999;
    -webkit-animation: 300ms menuIn linear forwards;
            animation: 300ms menuIn linear forwards;
  }
  .phone-menu .phone-ul {
    width: 100%;
    height: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .phone-menu .phone-ul .phone-li {
    list-style-type: none;
    height: 3.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 3rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
  }
  .phone-menu .phone-a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
  }
  header {
    width: 100%;
    height: 30rem;
    text-align: center;
    padding: 0 1rem;
  }
  header .phone-nav {
    width: 100%;
    height: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: fixed;
    background: #02122C;
    padding: 0 1rem;
    top: 0;
    z-index: 10;
  }
  header .phone-nav .logo-phone {
    width: 8rem;
  }
  header .phone-nav .burger-menu {
    width: 1.5rem;
  }
  header .phone-nav .close {
    color: white;
    font-size: 2rem;
    font-weight: 1000;
    display: none;
  }
  header .site-nav {
    display: none;
  }
  header .site-nav-inner {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .site-nav-inner .logo {
    width: 10rem;
  }
  header .site-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .site-li {
    list-style-type: none;
    margin-left: 3rem;
  }
  header .site-a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
  }
  header .header-h1 {
    font-size: 2rem;
    color: #fff;
    text-shadow: 0px 0px 15px #000000;
  }
  header .header-p {
    color: #fff;
    text-shadow: 0px 0px 15px #000000;
  }
  .footer {
    background: #f1f2f8;
    height: auto;
  }
  .footer .footer-inner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-auto-rows: auto;
    padding: 1rem 0;
  }
  .footer .footer-inner .footer-col-1 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 2rem 0;
  }
  .footer .footer-inner .footer-col-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 768px) {
  .blog-preview-container {
    width: 100%;
    height: 400px;
    padding: 1rem;
    background: #fff;
    -webkit-box-shadow: 2px 2px 15px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 15px -7px rgba(0, 0, 0, 0.75);
  }
  .blog-preview-container .blog-title-container {
    height: 15%;
  }
  .img-wrapper-large {
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
  .img-large {
    width: 100%;
    -o-object-fit: none;
       object-fit: none;
    -o-object-position: 50% -800%;
       object-position: 50% -800%;
  }
}

@media only screen and (max-width: 700px) {
  .blog-preview-container {
    width: 100%;
    height: 400px;
    padding: 1rem;
    background: #fff;
    -webkit-box-shadow: 2px 2px 15px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 15px -7px rgba(0, 0, 0, 0.75);
  }
  .blog-preview-container .blog-title-container {
    height: 20%;
  }
  .img-wrapper-large {
    width: 100%;
    height: 130px;
    overflow: hidden;
  }
  .img-large {
    width: 100%;
    -o-object-fit: none;
       object-fit: none;
    -o-object-position: 100% 80%;
       object-position: 100% 80%;
  }
}

@-webkit-keyframes menuIn {
  0% {
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes menuIn {
  0% {
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes opacityIn {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacityIn {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=blog.style.css.map */