* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-rendering: optimizeLegibility;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.inner {
  width: 50%;
}

.footer-inner {
  width: 85vw;
}

.wrapper {
  text-align: justify;
}

.text-link {
  text-decoration: none;
  color: #0770E7;
}

.text-link-h2 {
  text-decoration: none;
  color: #0770E7;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.phone-menu {
  display: none;
  z-index: 999999;
}

header {
  width: 100%;
  height: 80vh;
  background: url(../../../assets/articles/article-1/header.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .phone-nav {
  display: none;
}

header .site-nav {
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
}

header .site-nav-inner {
  width: 85vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 0;
}

header .site-nav-inner .logo {
  width: 15rem;
}

header .site-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .site-li {
  list-style-type: none;
  margin-left: 3rem;
}

header .site-a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

header .header-1-h1 {
  font-size: 1.6rem;
  color: #fff;
  text-shadow: 0px 0px 25px #000000;
}

header .header-p {
  color: #fff;
  text-shadow: 0px 0px 15px #000000;
}

.section-1 {
  margin: 3rem 0;
}

.section-1 .section-h2 {
  font-size: 2rem;
}

.section-1 .section-1-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.section-1 .section-1-ul span {
  margin: 0 0.5rem;
}

.section-1 .section-1-li {
  list-style-type: none;
  font-size: 0.7rem;
}

.section-1 .section-1-img-wrapper {
  width: 100%;
  height: 350px;
  overflow: hidden;
  margin: 2rem 0;
}

.section-1 .section-1-img {
  width: 100%;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 200ms linear;
  transition: 200ms linear;
}

.section-1 .section-1-img:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.section-1 .section-1-h2 {
  font-size: 1rem;
  margin: 2rem 0;
}

#HCB_comment_box .hcb-wrapper + div a {
  opacity: 0;
}

#HCB_comment_box .comment {
  background: #eeeeee;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}

#HCB_comment_box .home-desc {
  opacity: 0;
}

#HCB_comment_box .btn,
#HCB_comment_box .hcb-icon,
#HCB_comment_box .hcb-door-in {
  opacity: 1;
  visibility: visible;
}

#HCB_comment_box .hcb-flag {
  display: none;
}

#HCB_comment_box .hcb-reply,
#HCB_comment_box .hcb-like {
  opacity: 1;
  text-decoration: none;
  color: #042759;
}

.footer {
  background: #f1f2f8;
  height: auto;
}

.footer .footer-inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding: 2rem 0;
}

.footer .footer-inner .footer-col-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer .footer-inner .footer-col-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-link {
  color: #02122C;
  text-decoration: none;
  font-size: .9rem;
}

.footer .footer-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: .5rem 0;
}

.footer .footer-ul .footer-li {
  list-style-type: none;
  margin-top: 1rem;
}

.footer .footer-align-container {
  width: 70%;
  margin: 1rem 0;
}

.footer .footer-align-container .footer-h4 {
  text-align: center;
  color: #cdced3;
}

.footer .footer-h2 {
  font-size: 1rem;
}

.footer .link-h5 {
  text-decoration: none;
  color: #0770E7;
}

.footer .social-media-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0;
}

.footer .social-media-li {
  list-style-type: none;
  margin: 0 0.5rem;
}

.footer .social-media-icon {
  width: 1.4rem;
}

.comment-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comment-section-h4 {
  margin-bottom: -4rem;
}

.replied-to-name {
  color: #0770E7;
}

.replyInputContainer {
  margin-left: 5rem;
  -webkit-animation: 300ms opacityIn forwards linear;
          animation: 300ms opacityIn forwards linear;
}

.comment-section-inner {
  min-height: 20vh;
  position: relative;
}

.comment-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 2rem;
  background: #f1f2f8;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.comment-form .comment-label {
  color: #000;
  margin-bottom: 1rem;
}

.comment-form #comment-input-form,
.comment-form #reply-input-comment {
  border: none;
  outline: none;
}

.comment-form .comment-btn-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 1rem;
}

.comment-form .comment-btn {
  width: 10rem;
  height: 2rem;
  border: none;
  background: #02122C;
  color: #fff;
}

.comment-container,
.reply-container {
  width: 100%;
  min-height: 10rem;
  padding: 1rem;
  margin-bottom: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3.5rem auto auto;
      grid-template-rows: 3.5rem auto auto;
  background: #f1f2f8;
  position: relative;
  -webkit-animation: 300ms opacityIn forwards linear;
          animation: 300ms opacityIn forwards linear;
}

.comment-container .comment-container-upper,
.reply-container .comment-container-upper {
  border-bottom: grey 1px solid;
}

.comment-container .comment-container-upper .comment-name,
.reply-container .comment-container-upper .comment-name {
  font-size: 1rem;
  font-weight: 700;
}

.comment-container .comment-container-upper .comment-date,
.reply-container .comment-container-upper .comment-date {
  font-size: 0.8rem;
}

.comment-container .comment-container-lower,
.reply-container .comment-container-lower {
  padding: 1rem 1rem 2rem  1rem;
}

.comment-container .comment-container-lower .comment-reply-btn,
.reply-container .comment-container-lower .comment-reply-btn {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 10rem;
  height: 2rem;
  border: none;
  background: #bdbcbc;
  font-size: 1rem;
  color: #fff;
}

.comment-container .comment-container-lower .comment-show-reply-btn,
.reply-container .comment-container-lower .comment-show-reply-btn {
  position: absolute;
  left: 10rem;
  bottom: 0;
  width: 10rem;
  height: 2rem;
  border: none;
  background: #dbdada;
  font-size: 1rem;
  color: #fff;
  outline: none;
}

.comment-container {
  margin-top: 5rem;
}

.reply-container {
  margin-left: 5rem;
  width: calc( 100% - 5rem);
}

.comment-replies-ul .comment-replies-li {
  list-style-type: none;
  margin-left: 5rem;
}

.comment-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

.comment-input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.comment-input {
  border: none;
}

.comment-input-name {
  margin-right: 2rem;
}

@media only screen and (max-width: 900px) {
  .center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .inner {
    width: 90%;
  }
  .phone-menu {
    width: 100%;
    height: calc(100vh - 4rem);
    position: fixed;
    top: 4rem;
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background: #02122C;
    -webkit-animation: 300ms menuIn linear forwards;
            animation: 300ms menuIn linear forwards;
  }
  .phone-menu .phone-ul {
    width: 100%;
    height: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .phone-menu .phone-ul .phone-li {
    list-style-type: none;
    height: 3.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 3rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
  }
  .phone-menu .phone-a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
  }
  header {
    width: 100%;
    height: 30rem;
    background: url(../../../assets/articles/article-1/header.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 1rem;
  }
  header .phone-nav {
    width: 100%;
    height: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: fixed;
    background: #02122C;
    padding: 0 1rem;
    top: 0;
    z-index: 10;
  }
  header .phone-nav .logo-phone {
    width: 8rem;
  }
  header .phone-nav .burger-menu {
    width: 1.5rem;
  }
  header .phone-nav .close {
    color: white;
    font-size: 2rem;
    font-weight: 1000;
    display: none;
  }
  header .site-nav {
    display: none;
  }
  header .site-nav-solid {
    background: #000;
    -webkit-animation: 1000ms opacityIn linear forwards;
            animation: 1000ms opacityIn linear forwards;
  }
  header .site-nav-inner {
    width: 85vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .site-nav-inner .logo {
    width: 10rem;
  }
  header .site-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .site-li {
    list-style-type: none;
    margin-left: 3rem;
  }
  header .site-a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
  }
  header .header-h2 {
    font-size: 2.5rem;
    color: #fff;
    text-shadow: 0px 0px 15px #000000;
  }
  header .header-p {
    color: #fff;
    text-shadow: 0px 0px 15px #000000;
  }
  .footer {
    background: #f1f2f8;
    height: auto;
  }
  .footer .footer-inner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-auto-rows: auto;
    padding: 1rem 0;
  }
  .footer .footer-inner .footer-col-1 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 2rem 0;
  }
  .footer .footer-inner .footer-col-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .replyInputContainer {
    margin-left: 0;
  }
}

@-webkit-keyframes menuIn {
  0% {
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes menuIn {
  0% {
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes opacityIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes opacityIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #080725;
  border-color: #080725 transparent #080725 transparent;
  -webkit-animation: lds-dual-ring 1.2s linear infinite;
          animation: lds-dual-ring 1.2s linear infinite;
}

@-webkit-keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=article-1.css.map */