@import "../scss_variables/colors";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
//COMMON CLASSES ==================================================
.inner {
  width: 57vw;
  height: 100%;
}
.center {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
// PHONE MENU -----------------------------------------------------
.phone-menu {
  display: none;
}
//-----------------------------------------------------------------

//END OF COMMON CLASSES - - - - - - - - - - - - - - - - - - - - - -

//------------HEADER---------------------------------------------------------------
.homepage-header {
  width: 100%;
  height: 6.8rem;
  position: absolute;
  top: 0;
  z-index: 4;
}
.phone-nav {
  display: none;
}

.inner-header {
  width: 85vw;
  display: flex;
  align-items: center;
}

.header-btn {
  text-decoration: none;
  color: white;
  background: $fourth-color;
  border: 1px solid white;
  padding: 0.2rem 1.5rem;
  font-size: 0.9rem;
}

.inner-header-row-1 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo-img {
    height: 4rem;
  }
}

.header-ul {
  display: flex;
  flex: 1;
  justify-content: center;
  .header-li {
    list-style-type: none;
    margin: 0 1rem;
  }
  .header-a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 700;
  }
}

//------------HEADER---------------------------------------------------------------

.section-1 {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../../assets/tours/tours-header.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;

  //search form
  #powered_by_1492 {
    width: 80%;
  }

  .section-1-h1 {
    font-size: 2.3rem;
  }
  .section-1-h2 {
    margin-bottom: 8rem;
  }
}

.section-2 {
  width: 100%;
  height: 100%;
  margin: 5rem 0;

  .section-2-upper {
    margin: 2rem 0;
    padding: 0 8rem;
  }
  .section-2-h2 {
    text-align: center;
    //   width: 100%;
    font-size: 1.4rem;
    font-weight: 700;
    color: $fourth-color;
  }
  .section-2-lower {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 5rem 0;
  }
  .section-2-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 6rem 0 0;
    .section-2-p:first-letter {
      font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
      float: left;
      font-size: 4rem;
      line-height: 0.65;
      margin: 0.1em 0.1em 0.2em 0;
    }
    .section-2-p {
      text-align: justify;
    }
    .section-2-left-ul {
      margin-bottom: 2rem;
    }
    .section-2-left-li {
      list-style-type: "-";
    }
  }

  .section-2-right {
    overflow: hidden;
    display: flex;
    justify-content: flex-end;

    .section-2-blog-container {
      background: rgb(250, 250, 250);
      color: $main-color;
      padding: 4rem 3rem;
      border-radius: 0.5rem;
      box-shadow: $box-shadow;
      -moz-box-shadow: $box-shadow;
      -webkit-box-shadow: $box-shadow;
    }

    .section-2-h2-right {
      font-size: 1rem;
    }
  }
  .section-2-right-header-container {
    display: flex;
    align-items: center;
  }
  .section-2-right-img {
    width: 2rem;
    margin-right: 1rem;
  }
  .section-2-ul {
    width: 100%;
    list-style-position: inside;
    margin-top: 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .section-2-li {
      margin-bottom: 0.5rem;
      color: $main-color;
    }
    .section-2-a {
      text-decoration: none;
      font-size: 0.9rem;
      color: $main-color;
    }
  }
}

// .section-3 {
//   // width: 100%;

//   .section-3-inner {
//   //   display: flex;
//   //   justify-content: center;
//   // }
// }

.section-5 {
  height: 100%;
  padding: 5rem 0 5rem 0;
  margin: 3rem 0;
  background: #f1f2f8;
  .section-5-inner {
    display: flex;
    flex-direction: column;
  }

  .section-5-top-h2 {
    font-size: 1.3rem;
    text-align: center;
    padding: 2rem 0 5rem 0;
  }

  .section-5-svg-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2.5rem;
  }
  .section-5-svg-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-5-img {
    width: 55%;
    margin-bottom: 1rem;
  }
  .section-5-h2 {
    margin-bottom: 1rem;
    // word-wrap: break-word;
  }
  .section-5-p {
    text-align: justify;
    font-size: 0.9rem;
    // word-wrap: break-word;
    color: rgb(82, 82, 82);
  }
}

.section-6 {
  margin: 2rem 0;

  .section-6-h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .section-6-item-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 2rem;
    gap: 1rem;
  }

  .section-6-item-container {
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    background: #f1f2f8;
  }
  .section-6-text-container {
    margin-left: 1rem;
  }
  .section-6-img {
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
  }

  .section-6-h2 {
    font-size: 1rem;
  }

  .section-6-a {
    text-decoration: none;
    color: $third-color;
    // margin-right: .5rem;
  }
}

.section-7 {
  margin: 6rem 0;

  .section-7-h2 {
    text-align: center;
    font-size: 1.5rem;
    margin: 2rem 0;
  }

  .section-7-p {
    font-size: 1rem;
    text-align: justify;
    font-weight: 200;
    color: rgb(82, 82, 82);
  }

  .section-7-img-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
    justify-items: center;
    align-items: center;
    margin: 3rem 0;
  }

  .section-7-img {
    width: 50%;
  }
}

.footer {
  background: #f1f2f8;
  height: auto;
  .footer-inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem 0;
    
    .footer-col-1{
      display: flex;
      flex-direction: column;
      // justify-content: center;
      align-items: flex-start;
    }
    
    .footer-col-2{
      display: flex;
      flex-direction: column;
      // justify-content: center;
      align-items: center;
    }
  }
  
  .footer-link{
    color: $fourth-color;
    text-decoration: none;
    font-size: .9rem;
  }
  .footer-ul{
    display: flex;
    flex-direction: column;
    margin: .5rem 0;
    
    .footer-li{
      list-style-type: none;
      margin-top: 1rem;
    }
  }
  
  .footer-align-container{
    width: 70%;
    margin: 1rem 0;
    .footer-h4 {
      text-align: center;
      // font-weight: 200;
      color: #cdced3;
    }
  }
  .footer-h2{
    font-size: 1rem;
  }
  
  .link-h5 {
    text-decoration: none;
    color: $main-color;
  }

  .social-media-ul {
    display: flex;
    margin: 1rem 0;
  }
  .social-media-li {
    list-style-type: none;
    margin: 0 0.5rem;
  }

  .social-media-icon {
    width: 1.4rem;
  }
}

.cookie-warning {
  height: 2rem;
  background-color: $main-color;
  color: #fff;

  .inner-cookie {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }
  .cookie-p {
    font-size: 0.7rem;
  }
  .cookie-btn {
    border: none;
    background: #fff;
    color: $main-color;
    width: 5rem;
  }
}
.cookie-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  height: 45%;
  background: $main-color;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  .cookie-inner {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .cookie-h4 {
      font-size: 1.2rem;
    }
    .cookie-p {
      text-align: justify;
    }
    .cookie-p-bottom {
      font-size: 0.8rem;
    }

    .cookie-a {
      color: #fff;
    }
  }

  .cookie-btn-container {
    display: flex;
    justify-content: flex-start;
    margin: 1rem 0;
    .cookie-btn {
      width: 50%;
      height: 2.5rem;
      //   border: 4px solid #fff;
      border: none;
      background-color: $third-color;
      color: #fff;
      font-size: 1rem;
      font-weight: 600;
    }
    .cookie-accept {
      margin-right: 1rem;
      // border: 4px solid $third-color;
      background: $fourth-color;
    }
  }
}

@media only screen and (max-width: 1366px) {
  .inner {
    width: 85vw;
  }
  .homepage-header {
    width: 100%;
    height: 6.8rem;
    // border: 1px solid red;
  }
  .inner-header-row-1 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo-img {
      height: 4rem;
    }
  }
}
@media only screen and (max-width: 1280px) {
  .section-1 {
    .section-1-h2 {
      font-size: 1rem;
      margin-bottom: 6rem;
    }
  }
  .inner-header-row-1 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo-img {
      height: 4rem;
    }
  }
  .cookie-modal {
    width: 45%;
    height: 50%;
    background: $main-color;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    .cookie-inner {
      width: 85%;
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .cookie-h4 {
        font-size: 1.2rem;
      }
      .cookie-p {
        text-align: justify;
      }
      .cookie-p-bottom {
        font-size: 0.8rem;
      }

      .cookie-a {
        color: #fff;
      }
    }
  }
}
@media only screen and (max-width: 900px) {
  // ------------COMMON--------------------
  .inner {
    width: 90%;
  }
  // ------------COMMON--------------------

  .homepage-header {
    height: 5.8rem;
    display: flex;
    align-items: center;
    padding: 0 1rem;
  }
  .inner-header {
    display: none;
  }

  .inner-header-row-1 {
    .logo-img {
      height: 3rem;
    }
  }
  .header-ul {
    display: none;
  }

  .section-1 {
    #powered_by_1492 {
      width: 100%;
    }
    .section-1-h1 {
      // text-align: center;
      font-size: 1.8rem;
    }
    .section-1-h2 {
      font-size: 1rem;
    }
  }
  .section-2 {
    margin: 2rem 0;

    .inner-section-2 {
      display: grid;
      grid-auto-rows: auto;
    }
    .section-2-upper {
      margin: 2rem 0;
      padding: 0;
    }

    .section-2-left {
      grid-row: 2/3;
      display: flex;
      align-items: center;
      padding: 0;
      margin-top: 2rem;
    }
    .section-2-h2 {
      text-align: center;
      font-size: 1.1rem;
    }
    .section-2-lower {
      display: grid;
      grid-template-columns: 1fr;
      grid-auto-rows: auto;
      row-gap: 1rem;
      margin: 2rem 0;
    }
    .section-2-p {
      text-align: justify;
    }
    .section-2-right {
      overflow: hidden;
      display: flex;
      justify-content: center;
    }

    .section-2-img-wrapper {
      width: 100%;
      height: 300px;
      overflow: hidden;
    }

    .section-2-img {
      width: 100%;
      transition: 400ms linear;
      // image-orientation: flip;
    }
    .section-2-img:hover {
      transform: scale(1.2);
    }
  }

  .cookie-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 35%;
    background: $main-color;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    .cookie-inner {
      width: 80%;
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  // PHONE MENU ------------------------------------------------
  .phone-menu {
    width: 100%;
    height: calc(100vh - 4rem);
    position: fixed;
    top: 4rem;
    display: none;
    justify-content: center;
    align-items: flex-start;
    background: $fourth-color;
    z-index: 99999;

    animation: 300ms menuIn linear forwards;

    .phone-ul {
      width: 100%;
      height: 80%;
      display: flex;
      flex-direction: column;
      // justify-content: space-evenly;

      .phone-li {
        list-style-type: none;
        height: 3.5rem;
        display: flex;
        align-items: center;
        padding: 0 3rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        border-top: 1px solid rgba(255, 255, 255, 0.5);
      }
    }
    .phone-a {
      text-decoration: none;
      color: #fff;
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: 600;
    }
  }
  //END OF PHONE MENU --------------------------------------------------------

  .phone-nav {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background: $fourth-color;
    padding: 0 1rem;
    top: 0;
    z-index: 99999;

    .logo-phone {
      width: 8rem;
    }
    .burger-menu {
      width: 1.5rem;
    }
    .close {
      color: white;
      font-size: 2rem;
      font-weight: 1000;
      display: none;
    }
  }

  .footer {
    background: #f1f2f8;
    height: auto;
    .footer-inner {
      display: grid;
      grid-template-columns: (1fr);
      grid-auto-rows: auto;
      padding: 1rem 0;

      .footer-col-1 {
        grid-row: 2/3;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        margin: 2rem 0;
      }

      .footer-col-2 {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
      }
    }
  }
}

@media only screen and (max-width: 760px) {
  .section-1 {
    #powered_by_1492 {
      width: 100%;
      margin-top: 10rem;
    }

    flex-direction: column;
    .section-1-h1 {
      display: none;
    }
    .section-1-h2 {
      display: none;
      margin: none;
    }
  }

  .section-2 {
    margin: 2rem 0;

    .inner-section-2 {
      display: grid;
      grid-auto-rows: auto;
    }
    .section-2-upper {
      margin: 2rem 0;
      padding: 0;
    }
    .section-2-h2 {
      text-align: center;
      font-size: 1.1rem;
    }
    .section-2-lower {
      display: grid;
      grid-template-columns: 1fr;
      grid-auto-rows: auto;
      row-gap: 1rem;
      margin: 2rem 0;
    }
    .section-2-p {
      text-align: justify;
    }
    .section-2-right {
      overflow: hidden;
      display: flex;
      justify-content: center;
    }

    .section-2-img-wrapper {
      width: 100%;
      height: 200px;
      overflow: hidden;
    }

    .section-2-img {
      width: 100%;
      transition: 400ms linear;
      // image-orientation: flip;
    }
    .section-2-img:hover {
      transform: scale(1.2);
    }
  }

  .section-5 {
    padding: 1rem 0 3rem 0;
    height: 100%;
    background: #f1f2f8;
    .section-5-inner {
      display: flex;
      flex-direction: column;
      padding: 0 1rem;
    }
    .section-5-bottom-h2 {
      font-size: 1rem;
      text-align: justify;
      // word-wrap: break-word;
      padding: 3rem 0 0 0;
    }
    .section-5-top-h2 {
      font-size: 1rem;
      text-align: justify;
      // word-wrap: break-word;
      padding: 3rem 0;
    }
    .section-5-svg-wrapper {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
      row-gap: 2.5rem;
    }

    .section-5-svg-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      // border: 1px solid red;
    }
    .section-5-img {
      width: 55%;
      margin-bottom: 1rem;
    }
    .section-5-h2 {
      margin-bottom: 1rem;
    }
    .section-5-p {
      text-align: justify;
      font-size: 0.9rem;
      color: rgb(82, 82, 82);
    }
  }
  .section-6 {
    margin: 2rem 0;

    .section-6-h1 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    .section-6-item-wrapper {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
      margin-top: 2rem;
      gap: 1rem;
    }

    .section-6-item-container {
      display: flex;
      align-items: center;
      border-radius: 0.5rem;
      background: #f1f2f8;
    }
    .section-6-text-container {
      margin-left: 1rem;
    }
    .section-6-img {
      border-top-left-radius: 0.3rem;
      border-bottom-left-radius: 0.3rem;
    }

    .section-6-h2 {
      font-size: 1rem;
    }

    .section-6-a {
      text-decoration: none;
      color: $third-color;
    }
  }

  .section-7 {
    margin: 6rem 0;

    .section-7-h2 {
      // text-align: center;
      font-size: 1.5rem;
      margin: 2rem 0;
    }

    .section-7-p {
      font-size: 1rem;
      text-align: justify;
      font-weight: 200;
      color: rgb(82, 82, 82);
    }

    .section-7-img-wrapper {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
      row-gap: 3rem;
      justify-items: center;
      align-items: center;
      // margin: 3rem 0;
    }

    .section-7-img {
      width: 80%;
    }
  }

  .cookie-modal {
    width: 95%;
    height: 80%;
    background: $main-color;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    .cookie-inner {
      width: 85%;
    }
    .cookie-btn-container {
      .cookie-btn {
        font-size: 0.9rem;
      }
    }

    .cookie-h4 {
      font-size: 1.2rem;
    }
  }
}
